
form {
  background: #000; 
  padding: 3px; 
  position: fixed; 
  bottom: 0; 
  width: 100%; 
}
form input { 
    border: 0; 
    padding: 10px; 
    width: 90%; 
    margin-right: .5%; 
}
form button { 
     width: 9%; 
     background: 
     rgb(130, 224, 255); 
     border: none; 
     padding: 10px; 
 }

/*------------------------------------------------------------*/
/* Fix user-agent */

* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login Page */

.login.page {
  background-color: #000;
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  color: #fff;
  font-weight: 100;
}

/* drawing page */

.drawing.page {
  display: none;
}

/* Font */

.messages {
  font-size: 150%;
}


.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.drawingArea {
  height: 100%;
  padding-bottom: 60px;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
  color: #219eed;
}

.username {
  float: left;
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/*------------------drawing app----------------------------------------*/
a:link { text-decoration: underline; }
a:active { text-decoration: underline; }
a:visited { text-decoration: underline; }

a {
    font-family: arial, helvetica, non-serif;
    font-size: 9pt;
    color: #0909AA;    
  background-color: #EEEEEE;
}

h1 {
    display: block;
    
    color:#fcdd0a;
    color: #FC1866;
    font-size: 60px;
    font-weight: 400;
    font-family: 'Pathway Gothic One', sans-serif;
    margin: 0px;
    margin-top: 5px;
    padding: 0px;
    font-family: 'Lobster', cursive;
    

}

#map{
    width: 100%;
    height: 200px;
    background: #fd4a81;
    color: #fff;
    font-weight: 700;
    font-size: 20px;

}

p{  
  font-size: 24px;
  margin: 0px;
  margin-top: 8px;
  font-weight: 700;
  color:#04CAE8;
  font-family: 'Source Sans Pro', sans-serif;

}
h2 {
    text-transform: uppercase;
}

h3 {
    text-transform: uppercase;
}

#canvas{
    border: 3px solid #0590fb;
    margin: 0 auto;
    padding: 0px;
    width: 80%;
    height: 80%;
}
canvas{
    width: 100% !important;
    padding: 0px;
    margin: 0 auto;
    height: 80%;
}

body 
{
    font-family: arial, helvetica, non-serif;
    font-size: 9pt;
    color: #050505;    
    margin:0px auto;
    background: url(./bg.png) repeat #0c0c0c;
    background-size: cover;
    text-align: center;
    width: 100%;
    height:100%;
 
}

html, body{
    overflow:hidden;
}

@media screen and (max-width: 1100px) {
    body {
      background-size: initial;
    }
    #canvas{
      width:90%;
      height: 80%;
    }
@media screen and (max-width: 800px) {
    #canvas{
      width:100%;
      height: 80%;
    }

/*client*/
#myElement{
  background: silver;
  height: 300px;
  text-align: center;
  font: 30px/300px Helvetica, Arial, sans-serif;
}

/*----------------------------------*/
/* Fix user-agent */

Status API Training Shop Blog About Pricing
© 2015 GitHub, Inc. Terms Privacy Security Contact Help